.card {
  max-width: 600px;
  height: 600px;
  border: 1px solid #cfcfcf;
  border-radius: 5%;
  object-fit: contain;
  background-color: white;
}
.img {
  border-radius: 5%;
  max-width: 100%;
  max-height: 80%;
}
